<!DOCTYPE html>
<html lang="en">
    <style>
    h1{
        text-align:center;
        font-size:65px;
        background-color:red;
    }
    input[type=text], select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size:18px;
    }
    .button{
        height: 5%;
        color: white;
        padding: 14px 20px;
        margin: 20px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .required {
        color: red;
    }
    </style>
    
    <head>
        <title>Create</title>
    </head>
    <body>       
            <h1>Create new game</h1>
            <form action="/create" method="POST" enctype="multipart/form-data">
                <!--the enctype attribute is required for a file upload control form-->
                <!--the attribute is not encoding characters-->
                <p aria-hidden="true" id="required-description" style="text-align:right">
                    <span class="required">*</span>Required field
                </p>

                <label for="name">Name<span class="required">*</span>:</label>
                <input type="text" id="name" name="name"  placeholder="Name" required><br>
                
                <label for="type">Type:</label>
                <input type="text" id="type" name="type"  placeholder="type"><br>

                <label for="description">Description:</label>
                <input type="text" id="description" name="description"  placeholder="description"><br>
                
                <label for="developer">Developer:</label>
                <input type="text" id="developer" name="developer"  placeholder="developer"><br>
                
                <label for="publisher">Publisher:</label>
                <input type="text" id="publisher" name="publisher"  placeholder="publisher"><br>
                
                <label for="windows">Support Windows:</label>
                <input type="checkbox" id="windows" name="windows"  placeholder="windows"><br>

                <label for="macos">Support macOS:</label>
                <input type="checkbox" id="macos" name="macos"  placeholder="macos"><br>

                <label for="linux">Support Linux:</label>
                <input type="checkbox" id="linux" name="linux"  placeholder="linux"><br>
                
                <label for="releaseDateAt">Release date at<span class="required">*</span>:</label>
                <input type="datetime-local" id="releaseDateAt" name="releaseDateAt"  placeholder="releaseDateAt" required><br>

                <label  for="photo">Photo:</label>
                <input type="file"style="font-size: 20px;" id="photo" name="photo" placeholder="Please upload JPEG/PNG format."><br>
                
                <div class =button>
                    <input type="submit" value="Create" style="font-size: 25px;">
                <input type="button" style="float: right ;font-size: 25px;"value="Back" onclick="history.back()">
            </div>
            </form>
    </body>
</html>