<!DOCTYPE html>
<html lang="en">
    <style>
    h1{
        text-align:center;
        font-size:65px;
    }
    input[type=text], select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:18px;
    }
    .button{
        
  height: 5%;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    }
    </style>
    
    <head>
        <title>Create</title>
    </head>
    <body>       
            <h1>Create new inventory</h1>
            <form action="/create" method="POST" enctype="multipart/form-data">
                <!--the enctype attribute is required for a file upload control form-->
                <!--the attribute is not encoding characters-->
                <label for="name">Name*:</label>
                <input type="text" id="name" name="name"  placeholder="Name" required><br>
                
                <label for="inv_type">Type:</label>
                <input type="text" id="inv_type" name="inv_type"  placeholder="type of inventory"><br>

                <label for="quantity">Quantity:</label>
                <input type="text" id="quantity" name="quantity"  placeholder="quantity"><br>
                
                <label for="street">Street:</label>
                <input type="text" id="street" name="street"  placeholder="Street"><br>
                
                <label for="building">Building:</label>
                <input type="text" id="building" name="building"  placeholder="Building"><br>
                
                <label for="zipcode">Country:</label>
                <input type="text" id="country" name="country"  placeholder="Zipcode"><br>

                <label for="zipcode">Zipcode:</label>
                <input type="text" id="zipcode" name="zipcode"  placeholder="Zipcode"><br>

                <label for="latitude">GPS Latitude:</label>
                <input type="text" id="latitude" name="latitude"  placeholder="Latitude"><br>
                
                <label for="longitude">GPS Longitude:</label>
                <input type="text" id="longitude" name="longitude"  placeholder="Longitude"><br>

                    <label  for="photo">Photo:</label>
                    <input type="file"style="font-size: 20px;" id="photo" name="photo" placeholder="Please upload JPEG/PNG format"><br>
                <div class =button>
                    <input type="submit" value="Create" style="font-size: 25px;">
                <input type="button" style="float: right ;font-size: 25px;"value="Back" onclick="history.back()">
            </div>
                
            </form>
    </body>
</html>